@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #120633;
}

main{
    flex-direction: row;
    display: flex;
    align-items: center;
}

h1{
    color: rgb(0, 132, 255);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3em;
}

h2{
    color: rgb(0, 132, 255);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5em;
}

p{
    color: rgb(0, 132, 255);
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.5em;
}

button, select, input{
    width: 400px;
    align-items: center;
    font-size: 1.5em;
    color: #2e00fd;
    background-color: rgb(135, 197, 255);
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    margin-top: 1%;
    cursor: pointer;
}

option{
    border-radius: 10px;
}

#altura{
    display: inline-flex;
    align-items: center;
}

.metade{
    width: 50%;
    text-align: center;
}

.inteiro{
    width: 100%;
}