@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p,h1,h2{
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

main {
    text-align: center;
}

.padrao{
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid gray;
    border-right: 7px solid gray;
}

button{
    width: 100px;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border: white;
}

#buttons{
    display:inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
}

#E{
    background-color: rgb(255, 238, 0);
    color: rgb(85, 85, 85);
    border-radius: 2rem;
}

#R{
    background-color: rgb(19, 97, 0);
    color: rgb(255, 255, 255);
    border-radius: 2rem;
}

#G{
    background-color: rgb(255, 174, 0);
    color: white;
    border-radius: 2rem; 
}

#S{
    background-color: rgb(0, 68, 255);
    color: white;
    border-radius: 2rem;
}

#H{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 2rem;
}

#I{
    background-color: rgb(88, 0, 88);
    color: white;
    border-radius: 2rem;
}

.H1Endo{
    background-color: rgb(21, 104, 90)
}

.H1Ronaldinho{
    background-color: rgb(5, 61, 0);
}

.H1Goenji{
    background-color: rgb(121, 4, 0);
}

.H1Someoca{
    background-color: rgb(2, 2, 59);
}

.H1Instituto{
    background-color: rgb(80, 27, 129);
}

.H1Helio{
    background-color: rgb(66, 15, 15);
}

.Endo{
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(255, 123, 0);
    border-right: 7px solid rgb(255, 123, 0);
}

.Ronaldinho{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 255, 157);
    color: rgb(255, 255, 255);
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(6, 71, 17);
    border-right: 7px solid rgb(6, 71, 17);
}

.Goenji{
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 115, 0);
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(255, 70, 13);
    border-right: 7px solid rgb(255, 70, 13);
}

.Someoca{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 109, 252);
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(11, 0, 105);
    border-right: 7px solid rgb(11, 0, 105);
}

.Instituto{
    font-size: 50px;
    text-align: center;
    background-color: rgb(183, 0, 255);
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(116, 0, 194);
    border-right: 7px solid rgb(116, 0, 194);
}

.Helio{
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius:5rem;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 7px solid rgb(255, 94, 2);
    border-right: 7px solid rgb(255, 94, 2);
}